<%= form_with(model: lecture) do |form| %>
  <% if lecture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% lecture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% form.label :title, style: "display: block" %>
    <%= form.text_field :title, class:"form-control", placeholder:"Lecture Title (e.g. Ruby on Rails Business Programming)" %>
  </div>

  <div class="form-group">
    <% form.label :lecture_id, style: "display: block" %>
    <%= form.text_field :lecture_id, class:"form-control", placeholder:"Lecture Code (e.g. 188.519)" %>
  </div>

  <div class="form-group">
    <% form.label :lecturers, style: "display: block" %>
    <%= form.text_field :lecturers, class:"form-control", placeholder:"Lecturer (e.g. Eidenberger Horst)" %>
  </div>

  <div class="form-group">
    <% form.label :credit, style: "display: block" %>
    <%= form.number_field :credit, class:"form-control", placeholder:"Credit (e.g. 3.0)" %>
  </div>

  <div class="form-group">
    <% form.label :language, style: "display: block" %>
    <%= form.text_field :language, class:"form-control", placeholder:"Language (e.g. English)" %>
  </div>

  <div class="form-group">
    <% form.label :time_day, style: "display: block" %>
    <%= form.text_field :time_day, class:"form-control", placeholder:"Day in a Week (e.g. Wed)" %>
  </div>

  <div class="form-group">
    <% form.label :time_hour_start, style: "display: block" %>
    <%= form.number_field :time_hour_start, class:"form-control", placeholder:"Starting Hour (e.g. 14)" %>
  </div>

  <div class="form-group">
    <% form.label :time_hour_end, style: "display: block" %>
    <%= form.number_field :time_hour_end, class:"form-control", placeholder:"Ending Hour (e.g. 16)" %>
  </div>

  <div>
    <br/>
    <%= form.submit class:"btn btn-outline-primary" %>
  </div>
<% end %>
