<div id="<%= dom_id lecture %>">
  <p>
    <strong>Title:</strong>
    <%= lecture.title %>
  </p>

  <p>
    <strong>Lecture Code:</strong>
    <%= lecture.lecture_id %>
  </p>

  <p>
    <strong>Lecturers:</strong>
    <%= lecture.lecturers %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= lecture.credit %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= lecture.language %>
  </p>

  <p>
    <strong>Time day:</strong>
    <%= lecture.time_day %>
  </p>

  <p>
    <strong>Time hour start:</strong>
    <%= lecture.time_hour_start %>
  </p>

  <p>
    <strong>Time hour end:</strong>
    <%= lecture.time_hour_end %>
  </p>

</div>
