
<div class="jumbotron">
  <h1 class="display-4"><%= @lecture.title %></h1>
  
  <hr class="my-4">
  <br/>
  <p>
    <strong>Lecture Code:</strong>
    <%= @lecture.lecture_id %>
  </p>

  <p>
    <strong>Lecturers:</strong>
    <%= @lecture.lecturers %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= @lecture.credit %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= @lecture.language %>
  </p>

  <br/>

  <!-- These are 2 buttons for the administrator to click. -->
  <div>
    <br/>
    <%= link_to "Edit", edit_lecture_path(@lecture), class:"btn btn-outline-primary" %> 
    <br/><br/>
    <%= button_to "Delete", @lecture, method: :delete, class:"btn btn-outline-danger" %>
  </div>

</div>

<!-- This is back button. -->
<div style="display: flex; justify-content: flex-end">  
  <%= link_to "Back", lectures_path, class:"btn btn-secondary" %>
  
</div>
