<div id="<%= dom_id favorite %>">
  <p>
    <strong>Title:</strong>
    <%= favorite.title %>
  </p>

  <p>
    <strong>Lecture:</strong>
    <%= favorite.lecture_id %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= favorite.credit %>
  </p>

  <p>
    <strong>Time day:</strong>
    <%= favorite.time_day %>
  </p>

  <p>
    <strong>Hour start:</strong>
    <%= favorite.hour_start %>
  </p>

  <p>
    <strong>Hour end:</strong>
    <%= favorite.hour_end %>
  </p>

</div>
